@model User_registration.Models.User

<h2>User Details</h2>

<div>
    <strong>First Name:</strong> @Model.FirstName
</div>
<div>
    <strong>Last Name:</strong> @Model.LastName
</div>
<div>
    <strong>Email:</strong> @Model.Email
</div>
<div>
    <strong>Password:</strong> @Model.Password
</div>
